.button-wrapper {
  padding: 10px;
  font-size: 34px;
  width: 100%;
  text-align: center;
  border: solid 1px;
  border-radius: 50px;
  margin: 5px;
  background-color: aliceblue;
}

.button-wrapper:hover {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.button-wrapper:nth-child(4) {
  background-color: orange;
}
