.App {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 35%;
  display: flex;
  justify-content: center;
  margin: 30px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: bisque;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calculator {
  padding-top: 40px;
  width: 70%;
}

.row {
  display: flex;
}
